.repl_history
build
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
.dat*.*
.env
vendor/**/build-iPhoneOS/
vendor/Pods/.build/
vendor/Pods/build-iPhoneSimulator/
vendor/Carnival.framework/build-iPhoneSimulator/Carnival.framework.bridgesupport
vendor/Pods/.build/libPods-AFNetworking.a
vendor/Pods/.build/libPods.a
vendor/Pods/build-iPhoneSimulator/Pods.bridgesupport
vendor/Pods/build-iPhoneSimulator/libPods.a

